#main-container.container.bg-light
  .row
    .col-md-8.col-md-offset-2
      %p
        %img{src: '/assets/images/mali.png', class: 'img-responsive img-thumbnail one pull-right'}
      %p
        %br/
        Nam vitae ex et sapien posuere tempor quis ut tortor. Sed sed nulla convallis tellus vehicula condimentum in tincidunt odio. Phasellus efficitur lacus id metus tincidunt, sodales vestibulum eros
        = succeed "." do
          %a{:href => "http://reddit.com", :target => "blank"} imperdiet
        Sed dictum, nunc mattis euismod facilisis, velit metus euismod odio, vitae malesuada lacus mi eu diam.
      %p
        In auctor interdum tortor eget luctus. Fusce imperdiet erat eu lacus gravida tempus. Donec dictum ipsum et faucibus pretium. Etiam non suscipit urna.
        = succeed "," do
          %a{:href => "http://fortawesome.github.io/Font-Awesome/", :target => "blank"} Volutpat
        usce feugiat neque ut posuere.
      %p
        %br/
      %hr/
      %p
        %br/
        %span.contacticon.center
          %a{:href => "mailto:info@maliaccesorios.cl"}
            %i.fa.fa-envelope-square
          %a{:href => "http://www.facebook.com", :target => "_blank"}
            %i.fa.fa-facebook
          %a{:href => "https://instagram.com/", :target => "_blank"}
            %i.fa.fa-instagram
      .col.three.caption
        Pellentesque vestibulum, ipsum ac interdum consequat, leo diam auctor libero, pretium mattis enim ex non orci.ticPages#about
