#main-container.container.bg-light
  .row
    .col-md-6.col-md-offset-3
  .row
    .col-md-6
      %img{src: '/assets/images/img-laz-baby-001.jpg', class:'two img-rounded img-thumbnail center-block'}
    .col-md-6
      %img{src: '/assets/images/img-laz-baby-003.jpg', class: 'two img-rounded img-thumbnail center-block'}
  .row
    .col-md-12 &nbsp;
  .row
    .col-md-6.col-md-offset-3
      %img{src: '/assets/images/img-laz-baby-002.jpg', class: 'two img-rounded img-thumbnail center-block'}
