#main-container.container.bg-light
  .row
    .col-md-6
      %img{src: '/assets/images/img-laz-esp-coleg-001.jpg', class: 'two img-rounded img-thumbnail img-responsive center-block'}
    .col-md-6
      %img{src: '/assets/images/img-laz-esp-coleg-002.jpg', class: 'two img-rounded img-thumbnail img-responsive center-block'}
  .row
    .col-md-12 &nbsp;
  .row
    .col-md-6
      %img{src: '/assets/images/img-laz-esp-coleg-003.jpg', class: 'two img-rounded img-thumbnail img-responsive center-block'}
    .col-md-6
      %img{src: '/assets/images/img-laz-esp-coleg-004.jpg', class: 'two img-rounded img-thumbnail img-responsive center-block'}
