#main-container.container.bg-light
  .row
    .col-md-6
      %img{src :'/assets/images/img-laz-esp-pers-001.jpg', class:'two img-rounded img-thumbnail center-block'}
    .col-md-6
      %img{src :'/assets/images/img-laz-esp-pers-002.jpg', class:'two img-rounded img-thumbnail center-block'}
  .row
    .col-md-12 &nbsp;
  .row
    .col-md-6
      %img{src :'/assets/images/img-laz-esp-pers-003.jpg', class:'two img-rounded img-thumbnail center-block'}
    .col-md-6
      %img{src :'/assets/images/img-laz-esp-pers-004.jpg', class:'two img-rounded img-thumbnail center-block'}
