%footer#site-footer.text-center.container.bg-danger
  .row
    .col-md-6.col-md-offset-3
      %p
        Este sitio fué construído por
        %a{href: 'mailto:carlosduque.hn@gmail.com'} Carlos Duque
        &#169; 2015
