%header.page-header.container.bg-light
  .row
    .col-md-6
      %h1
        Mali Accesorios
        %small Hechos a mano con diseño y estilo
    -#.col-md-4
    -#  %form.navbar-form.navbar-left{role: 'search'}
    -#    .form-group
    -#      %input.form-control{type: 'text'}/
    -#    %button.btn.btn-default{type: "submit"} Buscar
    .info-box.col-md-2.col-md-offset-4
      %p Contactos:
      %ul
        %li +56911111111
        %li +56999999999
