.horizontal {
    float: left;
    list-style: none;
    margin: 10px;
}

.sub-level {
    background-color: #d9d9d9;
}

a {
    color: #00c;
}

a.mailto {
    background: url(../img/email.png) no-repeat right top;
    padding-right: 18px;
}

a.pdflink {
    background: url(../img/pdf.png) no-repeat right top;
    padding-right: 18px;
}

a.henrylink {
    background-color: #fff;
    padding: 2px;
    border: 1px solid #000;
}

